#bod {
        height: 500px;
        background-color: blue; /* For browsers that do not support gradients */
        background-image: linear-gradient(hotpink, blue);
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
}

.info {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

a:active {
    color: hotpink;
    text-decoration: none;
}